.hackathon_loader {
    position: relative;
    justify-self: center;
    width: 40px;
    height: 40px;
  }
  
  .hackathon_loader span {
    position: absolute;
    /* left: -600px; */
    top: 200px;
    right: 600px;
    width: 100%;
    height: 100%;
    /* border: 2px solid white; */
  }
  
  .hackathon_loader #one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(162, 162, 247);
    opacity: 0.7;
    animation: one 2s ease-in-out 0s infinite normal;
  }
  
  @keyframes one {
    25% {
      height: 8px;
      width: 8px;
      transform: translateX(32px) rotate(-90deg);
    }
    50% {
      height: 15px;
      width: 15px;
      transform: translate(25px, 25px) rotate(-180deg);
    }
    75% {
      height: 8px;
      width: 8px;
      transform: translateY(32px) rotate(-270deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  .hackathon_loader #two::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(162, 162, 247);
    opacity: 0.7;
    animation: two 2s ease-in-out 0s infinite normal;
  }
  
  @keyframes two {
    25% {
      height: 8px;
      width: 8px;
      transform: translateX(-32px) rotate(-90deg);
    }
    50% {
      height: 15px;
      width: 15px;
      transform: translate(-25px, -25px) rotate(-180deg);
    }
    75% {
      height: 8px;
      width: 8px;
      transform: translateY(-32px) rotate(-270deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  