.dashboard_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-left: 10px;
}
.hackthon_div{
    width: 100%;
}
.hackathon_title_up{
    width: 100%;
}
.hackathon_title{
    text-align: center;
    width: 100%;
}
.hackthon_class{
    height: fit-content;
    width: 100%;
    display: flex;
    padding-left: 30px;
}
.heading_{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 800;
    padding-left: 30px;
    background-color: #222222;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
}