.home_container {
  /* background-color: #f8f9fa; */
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background-image: url("../Assets/bg2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */

  /* background: rgb(34, 34, 34);
  background: radial-gradient(
    circle,
    rgba(34, 34, 34, 1) 3%,
    rgba(0, 0, 0, 1) 84%,
    rgba(0, 0, 0, 1) 100%
  ); */

  /* background: rgb(95, 89, 89);
  background: radial-gradient(
    circle,
    rgba(95, 89, 89, 1) 0%,
    rgba(0, 0, 0, 1) 51%,
    rgba(0, 0, 0, 1) 89%
  ); */

  background: radial-gradient(circle at 100% 110%, rgb(0, 0, 0) 0%, rgb(10, 10, 10) 15%,rgba(20,20,20) 15%, rgba(30,30,30) 25%,rgba(40,40,40) 25%, rgba(50,50,50) 35%, rgb(9, 10, 15) 35%, rgb(9, 10, 15) 100%);

}
.college_name{
  font-weight: 800;
  font-size: 40px;
  /* display: none; */
}

.home_container_center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: #fff;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
.home_container_center1 {
  background-color: #f3f4f5;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
}
.marquee {
  background-color: transparent;
  height: 35%;
}

.home_center1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  flex-direction: column;
  height: 100%;
}
.nav_btn_home {
  border: none;
  background-color: #4a71fc;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  background-image: linear-gradient(135deg, #168ef9 0%, #1a42d5 100%);
  outline: none;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.rocket {
  width: 20px;
  height: 20px;
  filter: invert();
}
.nav_btn_home:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translateY(3px);
  box-shadow: none;
}

.home_div {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: 900;
  /* font-size: 40px !important; */
  text-transform: uppercase;
  padding-left: 20px;
  color: #000;
  width: 90%;
  text-align: center;
}
h1:hover {
  cursor: pointer;
}
.welcome_text {
  font-size: 40px;
  font-weight: 700;
  color: #373737;
}
.about_text {
  width: 80%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.collee_link {
  text-decoration: none !important;
  color: #000;
}
.collee_link:hover {
  text-decoration: none !important;
  color: #000 !important;
}
.image_wrapper {
  margin: 0px 30px;
}
.image_wrapper img {
  width: 250px;
  height: 100px;
  padding: 20px;
}
.slider_img1 {
  filter: invert(40%);
}
.recruiters_text {
  width: 100%;
  margin-left: 6%;
  font-size: 30px;
  text-transform: uppercase;
  color: #4a71fc;
  background-image: linear-gradient(#f8b117, #f8b117);
  background-size: 10px 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding-left: 20px;
  font-weight: 800;
}

/* bargraph */

.graph_container {
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #000;

  background: rgb(95, 89, 89);
  background: radial-gradient(
    circle at 0% 100%,
    rgba(95, 89, 89, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 1) 89%
  );

}
.graph_row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.h1_text {
  margin-left: 20%;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: default !important;
  background-image: linear-gradient(#f8b117, #f8b117);
  background-size: 10px 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.placement_text {
  width: 34%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 700;
  background-color: transparent;
}
.chart_container {
  width: 35%;
  border-radius: 10px;
  height: fit-content;
  background-color: #f8fafc;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.chart_title {
  text-align: center;
  font-weight: 700;
  color: #373737;
  font-size: 1.3rem;
}
h5 {
  color: #373737;
  font-weight: 600;
  text-align: center;
}
.recharts-wrapper {
  align-items: center;
  width: 100%!important;
  height: 300px !important;
}

.custom-tooltip{
  background-color: rgba(238, 238, 238,0.9);
  width: 150px;
  border-radius: 3px;
  font-weight: 600;
  padding: 8px;
}
.custom-tooltip1{
  background-color: rgba(238, 238, 238,0.9);
  width: 180px;
  border-radius: 3px;
  font-weight: 600;
  padding: 8px;
}

@media screen and (max-width: 590px) {
  .dept_name{
    align-items: center;
  }
  .graph_container {
    height: 230vh;
  }
  .graph_row {
    height: 100%;
    flex-direction: column;
  }
  .placement_text {
    width: 60%;
  }
  .recharts-wrapper {
    width: 100% !important;
    /* height:50% !important; */
  }
  .chart_container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    width: 100%;
    font-size: 1px;
  }
  .welcome_text {
    font-size: 35px;
  }
  .image_wrapper img {
    width: 200px;
    height: 90px;
  }
  .h1_text {
    font-size: 25px;
    margin-left: 8%;
  }
  .placement_text {
    width: 50%;
  }
  .graph_container {
    height: 100vh;
  }
  .chart_title {
    font-size: 20px;
  }
  .chart_container {
    width: 50%;
  }
  .recharts-wrapper {
    width: 100% !important;
    height: 150px !important;
  }
}
@media screen and (max-width: 1084px) {

  .graph_container {
    height: 230vh;
    width: 100vw;
  }

  .graph_row {
    height: 100%;
    flex-direction: column;
  }
  .placement_text {
    width: 60%;
  }
  .chart_container {
    padding: 10px;
    width: 50%;
  }
  .recharts-wrapper {
    width: 100% !important;
    height: 250px !important;
  }
 
}
@media screen and (max-width: 500px) {
  .graph_container {
    height: 200vh;
  }
  h1 {
    font-size: 25px;
  }
  .chart_container {
    width: 80%;
  }
  .welcome_text {
    font-size: 25px;
    text-align: center;
  }
  .recruiters_text {
    width: 100%;
    font-size: 20px;
    margin-left: 2%;
  }
  .image_wrapper img {
    width: 120px;
    height: 70px;
  }
  .slider_img1 {
    width: 40px;
    height: 10px;
  }
  .home_center1 {
    height: 80%;
  }
  .placement_text {
    width: 75%;
  }
  .h1_text {
    font-size: 20px;
    margin-left: 4%;
  }
  .recharts-wrapper {
    width: 100% !important;
    height: 200px !important;
  }
}
@media screen and (max-width: 375px) {
  .recharts-wrapper {
    width: 100% !important;
    height: 200px !important;
  }
  .placement_text {
    width: 85%;
  }
}
@media screen and (max-width: 320px) {
 .home_container_center1{
  height: 150px;
 }
  .recharts-wrapper {
    align-items: center;
    width: 100% !important;
    height: 200px !important;
  }
  .placement_text {
    width: 100%;
  }

  .recruiters_text {
    width: 100%;
    font-size: 18px;
    margin-left: 2%;
  }
}

.text {
  color: #fff;
  font-size: 16px;
}
