.internship_dashboard_bottom {
  padding-left: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 3.5rem; */
  color: white;
}

.wrapper h1 {
  font-size: 2rem;
  line-height: 4rem;
  text-transform: capitalize;
  margin-left: -10px;
  padding-left: 10px;
}
